<div class="row">
	<div class="medium-2 column">
		<img class="thumbnail" src="assets/profile.jpg" alt="Photo of Uranus.">
	</div>
	<div class="medium-5 column">
		<h3>Let your passion speak</h3>
		<p>
			Ingeniero en Informática y Desarrollador FrontEnd, enormemente interesado en el diseño y desarrollo web asi como en lenguajes innovadores, creativos y divertidos. Amante virtual de los deportes de aventura, curioso y algo picón, pero consciente de que cada día se aprende algo nuevo.
		</p>
	</div>
	<div class="medium-3 column">

	</div>
</div>
