<div class="bg-header"></div>
<div class="grid-block vertical medium-horizontal">
	<div class="medium-3 grid-block">
		<div class="grid-content text-right small-only-text-center">
			<img class="thumbnail img-circle" ng-src="assets/img/profile.jpg" alt="Profile">
		</div>
	</div>
	<div class="medium-5 grid-block vertical">
		<div class="grid-content">
			<h4>{{ data.slogan }}</h4>
			<p>{{ data.description }}</p>
			<p><i class="fa fa-map-marker"></i><span class="msl">{{ data.direction }}</span></p>
			<!--<p><div j-player></div></p>-->
		</div>
	</div>
	<div class="medium-3 grid-block">
		<div class="grid-content">
			<ul class="feeds-titles-box">
				<li ng-repeat="feed in feeds">
					<a ng-href="{{ feed.link }}" target="_blank">{{ feed.title }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>
