*{
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}
html::-webkit-scrollbar{
    background-color: #ddd;
    width: 12px;
}
html::-webkit-scrollbar-thumb {
    background-color: #666;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #F4F4F4;
    font-size: 16px;
    background-image: url('img/whitediamond.png');
}
a{
    cursor: pointer;
}
.feeds-titles-box{
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0px;
    padding: 0px;
}
.feeds-titles-box::-webkit-scrollbar{
    background-color: rgba(250, 250, 250, 0.1);
    width: 10px;
}
.feeds-titles-box::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
}
.feeds-titles-box li{
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    padding: 2px 10px;
}
.feeds-titles-box li:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
.feeds-titles-box li a{
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    display: block;
}
.feed-description .thumbnail{
    margin: 0!important;
}
.feed-description p{
    margin: 0!important;
}

#content-info h4{
    margin: 0.1em 0 0.5em;
    color:rgb(221, 221, 221);
}

#content-feeds p{
    text-align: justify;
}
.overflow-hidden{
    overflow: hidden!important;
}
#content-footer{
    background: #23132c;
    margin-top: 20px;
}
#content-footer-items{
    background: #391f47;
}
.footer-box{
    border-right: 1px dashed #572D6E;
}
.footer-box:last-child{
    border-right: none;
}
.footer-box h3{
    text-align: center;
    color: #bbb;
}
.footer-copyright{
    height: 30px;
    text-align: center;
}
.footer-copyright label{
    color: #ccc;
    font-size: 0.875em;
    line-height: 30px;
}
#content-social-links{
    padding-top: 30px;
}
/*Nav ----------------------------------------------------*/
.navbar{
    background-color: #eee;
}
.navbar a.navbar-brand{
    color: rgb(68, 68, 68);
    font-size: 2em;
    text-decoration: none;
    padding-top: 0.5em;
}
.navbar .navbar-nav a{
    color: rgb(68, 68, 68);
    font-size: 1.5em;
    text-decoration: none;
    height: 70px;
    max-height: 70px;
    min-height: 70px;
}
.navbar .navbar-nav a:hover{
    color: rgb(68, 68, 68)!important;
}
.navbar .navbar-nav li.selected a{
    color: #70A30F!important;
}
.navbar.navbar-transparent{
    background-color: rgba(255,255,255,0.1);
}
.navbar.navbar-transparent .navbar-nav a{
    color: rgba(255,255,255,0.8);
}
.navbar.navbar-transparent a.navbar-brand{
    color: rgba(255,255,255,0.8);
}
.navbar-header .navbar-toggle{
    margin: 0;
}
.navbar-header .navbar-icon{
    color: rgba(255,255,255,0.8);
    font-size: 2em;
}
/*Head -----------------------------------------------------*/
#content-header{
    background-image: url('img/pattern2.png');
    padding-top: 90px;
    padding-bottom: 20px;
    color : #ddd;
}
#content-header h1{
    color : #ddd;
    margin-top: 0px;
}
/*Section --------------------------------------------------*/
.section-box{
    min-height: 600px;
    padding-top: 10px;
}
