<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="description" content="{{app.description}}" />
	<meta name="keywords" content="{{app.keywords}}"/>
	<title>{{app.name}}</title>
	<link rel="shortcut icon" href="css/img/favicon.png" type="image/png" />
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' type='text/css' />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/allenjoseph.min.css"/>
</head>
<body>

	<div id="content-nav" class="navbar navbar-transparent navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" onclick="$('body').stop().animate({'scrollTop':0},300)">
					<span id="section-title">
						<i class="fa fa-star-half-o fa-fw"></i>&nbsp;
						<label></label>
					</span>
				</a>
			</div>
			<div class="navbar-collapse navbar-inverse-collapse collapse">
				<div class="navbar-right">
					<ul class="nav navbar-nav" id="content-menus"></ul>
				</div>
			</div>
		</div>
	</div>

	<div id="content-header" class="container-fluid">
		<div class="background-wrapper"></div>
		<div class="row">
			<div class="col-md-9">
				<div id="content-info"></div>
			</div>
			<div class="col-md-3">
				<ul class="feeds-titles-box" id="content-feeds-mini"></ul>
			</div>
		</div>
	</div>

	<div id="content-sections" class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<ul class="list-inline" id="content-social-links"></ul>
				</div>
			</div>
		</div>
	</div>

	<div id="content-footer" class="container-fluid">
		<div class="row" id="content-footer-top">
			<div class="col-md-6">
				<div id="content-footer-form"></div>
			</div>
		</div>
		<div class="row">
			<div id="footer-copyright">
				<label></label>
			</div>
		</div>
	</div>

	<div id="alert-box"></div>

	<div id="modal-video" class="modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close"
					onclick="$('#modal-video .modal-title').html('');
					$('#modal-video .modal-body .embed-responsive').html('');
					$('#modal-video').hide()" >×</button>
					<h4 class="modal-title text-info"></h4>
				</div>
				<div class="modal-body">
					<div class="embed-responsive embed-responsive-4by3"></div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/template" id="tpl-alert">
		<div class="alert alert-dismissable alert-<%= type %>">
			<button type="button" class="close">×</button>
			<span><%= message %></span>
		</div>
	</script>

	<script type="text/template" id="tpl-section">
		<hr class="line-decorative"/>
		<div class="col-md-12">
			<% if( id === 'section-ocio') { %>
			<div class="overflow-hidden">
				<div id="content-feeds"></div>
			</div>
			<div id="content-videos"></div>
			<% } else if( id === 'section-skills') { %>
			<div id="content-skills"></div>
			<% } %>
		</div>
	</script>

	<script type="text/template" id="tpl-nav">
		<a>
			<i class="fa <%= icon %> fa-fw"></i>&nbsp;&nbsp;<%= name %>
		</a>
	</script>

	<script type="text/template" id="tpl-info">
		<div class="col-md-3">
			<img src="<%= avatar %>" alt="<%= title %>" class="img-circle center-block img-responsive img-profile">
		</div>
		<div class="col-md-9">
			<h4><%= slogan %></h4>
			<p>
				<%= description %><br/>
				<i class="fa fa-map-marker"></i>&nbsp;<%= direction %>
			</p>
		</div>
	</script>

	<script type="text/template" id="tpl-feed-mini">
		<a href="<%= link %>" target="_blank"><%= title %>&nbsp;<i class="fa fa-angle-double-right"></i></a>
	</script>

	<script type="text/template" id="tpl-feed">
		<div class="col-md-12">
			<h5 class="text-info"><%= title %></h5>
		</div>
		<div class="feed-description">
			<% if(image) { %>
			<div class="col-md-4">
				<a href="<%= link %>" class="thumbnail" target="_blank">
					<img src="<%= image %>">
				</a>
			</div>
			<div><%= description %></div>
			<% } else { %>
			<div class="col-md-12"><%= description %></div>
			<% } %>
		</div>
	</script>

	<script type="text/template" id="tpl-social-link">
		<a href="<%= url %>" target="_blank"><img src="<%= icon %>"></a>
	</script>

	<script type="text/template" id="tpl-footer">
		<form class="form-horizontal">
			<div class="form-group">
				<label for="inputEmail" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" autocomplete="off" required>
				</div>
			</div>
			<div class="form-group">
				<label for="textAreaMessage" class="col-lg-2 control-label">Message</label>
				<div class="col-lg-10">
					<textarea class="form-control" rows="3" id="textAreaMessage" name="message" autocomplete="off" placeholder="Say Hello! ..." required></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="submit" class="btn btn-info btn-submit" >Hello!</button>
				</div>
			</div>
		</form>
	</script>
	<script type="text/template" id="tpl-skill">
		<div class="alert alert-dismissable" style="background: <%= background %>; color : <%= textColor %>;">
			<h4><%= name %></h4>
			<p><%= description %></p>
		</div>
	</script>
	<script type="text/template" id="tpl-video">
		<div data-video="<%= url %>">
			<h5 class="text-info"><%= title %></h5>
			<a class="thumbnail">
				<img src="<%= img %>" alt="...">
			</a>
		</div>
	</script>

	{% if app.enviroment == 'development' %}
	<script src="vendor/jquery/jquery.js"></script>
	<script src="vendor/slick-carousel/slick.min.js"></script>
	<script src="vendor/underscore/underscore.js"></script>
	<script src="vendor/backbone/backbone.js"></script>
	<script src="js/app/init.js"></script>
	<script src="js/app/models/models.js"></script>
	<script src="js/app/collections/collections.js"></script>
	<script src="js/app/views/menu.js"></script>
	<script src="js/app/views/menuList.js"></script>
	<script src="js/app/views/feedMini.js"></script>
	<script src="js/app/views/feed.js"></script>
	<script src="js/app/views/feedList.js"></script>
	<script src="js/app/views/info.js"></script>
	<script src="js/app/views/socialLink.js"></script>
	<script src="js/app/views/socialLinkList.js"></script>
	<script src="js/app/views/section.js"></script>
	<script src="js/app/views/sectionList.js"></script>
	<script src="js/app/views/footer.js"></script>
	<script src="js/app/views/skill.js"></script>
	<script src="js/app/views/skillList.js"></script>
	<script src="js/app/views/video.js"></script>
	<script src="js/app/views/videoList.js"></script>
	<script src="js/app/views/alert.js"></script>
	<script src="js/app/views/layout.js"></script>
	<script src="js/app/routers/routers.js"></script>
	<script src="js/app/app.js"></script>
	{% elseif app.enviroment == 'production' %}
	<script src="js/allenjoseph.min.js"></script>
	{% endif %}

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-52535807-1', 'auto');ga('require', 'displayfeatures');ga('send', 'pageview');
	</script>
</body>
</html>
