html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	background: #F4F4F4;
	background-image: url('../img/whitediamond.png');
}

h1, h2, h3 {
	font-family: inherit !important;
	font-weight: 500;
	letter-spacing: -2px;
}
h4, h5, h6 {
	font-family: inherit !important;
	font-weight: 500;
	letter-spacing: -1px;
}
hr {
	border-color: #ddd;
	margin: 10px 0px 20px;
	border-style: dashed;
}

/*--------------------------------------------------------*/
nav {
	background: #fff;
	border-bottom: 1px solid #ddd;
	height: 80px;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

nav ul {
	list-style: none;
	margin: 0;
	position: absolute;
}

nav ul.nav-left {
	left: 10px;
}

nav ul.nav-left li{
	font-size: 28px;
	padding-left: 10px;
	color: inherit;
}

nav ul.nav-right {
	right: 10px;
}
nav ul.nav-right li.selected{
	color: #70A30F;
}

nav ul li {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	line-height: 75px;
	padding-right: 30px;
	-webkit-transition: all 0.1s linear;
	transition: all 0.1s linear;

}

nav ul li i {
	margin-right: 5px;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

nav ul li:hover i.nav-icon {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

nav ul li i.nav-mobile-link,
nav ul li i.nav-mobile-close{
	display: none;
}

/*--------------------------------------------------------*/
header {
	background: #001f27;
	padding: 100px 20px 20px;
	overflow: hidden;
	color: #fafbf3;
	position: fixed;
	z-index: 9;
	height: 350px;
	width: 100%;
}
header .pattern{
	background-image: url('../img/pattern2.png');
	-webkit-filter: blur(1.5px) opacity(1.0);
	position: absolute;
	margin-top: -20px;
	margin-left: -20px;
	width: inherit;
	height: inherit;
}

header figure {
	margin: 10px;
	float: left;
}

header figure div {
	background: #fafbf3;
	border-radius: 50%;
	height: 204px;
	margin: 0 auto;
	padding: 2px;
	width: 204px;
}

header figure img{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	box-sizing: border-box;
}

header ul {
	margin: 0px;
	list-style: none;
}

header .header-info {
	margin-left: 220px;
	padding: 20px 30px;
}

header .header-info h1{
	color: #fff;
}

header .social-icons{
	padding-top: 180px
}

/*--------------------------------------------------------*/
.main {
	background: transparent;
	top: 350px;
	position: relative;
	overflow: auto;
	width: 100%;
	z-index: 99;
}

.section-main {
	background: #F4F4F4;
	background-image: url('../img/whitediamond.png');
	border-bottom: 1px solid #ddd;
	display: block;
	min-height: 500px;
	overflow: auto;
	padding: 20px;
	position: relative;
	width: 100%;
}
#section-skills{
	z-index: 10;
}
#section-social{
	z-index: 11;
}
#section-atleta{
	z-index: 12;
}

.section-main > h2 {
	text-align: center;
}

.section-main > div {
	overflow: auto;
	padding: 20px 0px;
}

.statistic-box {
	display: inline-block;	
	vertical-align: top;
	padding: 0px 10px 30px;
	border-bottom: 3px solid transparent;

	-webkit-transition: all 0.3s;
	transition: all 0.3s;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.statistic-box:hover{
	background: #fff;
	border-bottom: 3px solid #70A30F;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.statistic-box div {
	display: inline-block;
}

.statistic-box div ul{
	list-style: none;
	margin: 0px;
}

.statistic-box div ul li{
	padding: 0px 10px;
}

.statistic-box-percentage span{
	border: 1px solid #eee;
	font-size: 0px;
	margin: 1px;
	padding: 7px 3px;
	vertical-align: middle;
	background: #DFDFDF;
	border: 1px solid #DFDFDF;
	cursor: pointer;
}

.statistic-box-percentage span.lila{
	background: #913ccd;
	border-color: #913ccd #913ccd #913ccd;
	background-image: -webkit-linear-gradient(top, #913ccd, #913ccd 70%, #913ccd);
	background-image: -moz-linear-gradient(top, #913ccd, #913ccd 70%, #913ccd);
	background-image: -o-linear-gradient(top, #913ccd, #913ccd 70%, #913ccd);
	background-image: linear-gradient(to bottom, #913ccd, #913ccd 70%, #913ccd);
}
.statistic-box-percentage span.rojo{
	background: #f26075;
	border-color: #f26075 #f26075 #f26075;
	background-image: -webkit-linear-gradient(top, #f26075, #f26075 70%, #f26075);
	background-image: -moz-linear-gradient(top, #f26075, #f26075 70%, #f26075);
	background-image: -o-linear-gradient(top, #f26075, #f26075 70%, #f26075);
	background-image: linear-gradient(to bottom, #f26075, #f26075 70%, #f26075);
}
.statistic-box-percentage span.naranja{
	background: #f76d3e;
	border-color: #f76d3e #f76d3e #f76d3e;
	background-image: -webkit-linear-gradient(top, #f76d3e, #f76d3e 70%, #f76d3e);
	background-image: -moz-linear-gradient(top, #f76d3e, #f76d3e 70%, #f76d3e);
	background-image: -o-linear-gradient(top, #f76d3e, #f76d3e 70%, #f76d3e);
	background-image: linear-gradient(to bottom, #f76d3e, #f76d3e 70%, #f76d3e);
}
.statistic-box-percentage span.amarillo{
	background: #f7d842;
	border-color: #f7d842 #f7d842 #f7d842;
	background-image: -webkit-linear-gradient(top, #f7d842, #f7d842 70%, #f7d842);
	background-image: -moz-linear-gradient(top, #f7d842, #f7d842 70%, #f7d842);
	background-image: -o-linear-gradient(top, #f7d842, #f7d842 70%, #f7d842);
	background-image: linear-gradient(to bottom, #f7d842, #f7d842 70%, #f7d842);
}
.statistic-box-percentage span.violeta{
	background: #2ca8c2;
	border-color: #2ca8c2 #2ca8c2 #2ca8c2;
	background-image: -webkit-linear-gradient(top, #2ca8c2, #2ca8c2 70%, #2ca8c2);
	background-image: -moz-linear-gradient(top, #2ca8c2, #2ca8c2 70%, #2ca8c2);
	background-image: -o-linear-gradient(top, #2ca8c2, #2ca8c2 70%, #2ca8c2);
	background-image: linear-gradient(to bottom, #2ca8c2, #2ca8c2 70%, #2ca8c2);
}
.statistic-box-percentage span.verde{
	background: #98cb4a;
	border-color: #98cb4a #98cb4a #98cb4a;
	background-image: -webkit-linear-gradient(top, #98cb4a, #98cb4a 70%, #98cb4a);
	background-image: -moz-linear-gradient(top, #98cb4a, #98cb4a 70%, #98cb4a);
	background-image: -o-linear-gradient(top, #98cb4a, #98cb4a 70%, #98cb4a);
	background-image: linear-gradient(to bottom, #98cb4a, #98cb4a 70%, #98cb4a);
}
.statistic-box-percentage span.azul{
	background: #5481e6;
	border-color: #5481e6 #5481e6 #5481e6;
	background-image: -webkit-linear-gradient(top, #5481e6, #5481e6 70%, #5481e6);
	background-image: -moz-linear-gradient(top, #5481e6, #5481e6 70%, #5481e6);
	background-image: -o-linear-gradient(top, #5481e6, #5481e6 70%, #5481e6);
	background-image: linear-gradient(to bottom, #5481e6, #5481e6 70%, #5481e6);
}
.statistic-box-percentage span.plomo{
	background: #849199;
	border-color: #849199 #849199 #849199;
	background-image: -webkit-linear-gradient(top, #849199, #849199 70%, #849199);
	background-image: -moz-linear-gradient(top, #849199, #849199 70%, #849199);
	background-image: -o-linear-gradient(top, #849199, #849199 70%, #849199);
	background-image: linear-gradient(to bottom, #849199, #849199 70%, #849199);
}

/*--------------------------------------------------------*/
footer {
	z-index: 999;
	position: relative;
	background: transparent;
	top: 350px;
}

footer .footer-content{
	background: #391f47;
	min-height: 400px;
	padding: 15px 0px;
}

footer .footer-content .footer-box{
	border-right: 1px dashed #555;
}
footer .footer-content .footer-box:last-child{
	border-right: none;
}

footer .footer-content h5{
	color: #bbb;
	text-align: center;
}

footer .footer-content .footer-box i {
	margin-right: 5px;
}

footer .footer-copyright{
	background: #23132c;
	height: 30px;
}

footer .footer-copyright label{
	color: #ccc;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
}

/*--------------------------------------------------------*/
@media only screen and (max-width: 40em) {
	nav {
		height: auto;
	}
	nav ul {
		position: relative;
	}
	nav ul.nav-left {
		left: auto;
	}
	nav ul.nav-right {
		right: auto;
		display: none;
	}
	nav ul.nav-right li{
		border-bottom: 1px dashed #dfdfdf;
	}
	nav ul.nav-right li:last-child{
		border-bottom: none;
	}
	nav ul li{
		display: block;
		padding-left: 15px;
	}
	nav ul li i{
		margin-right: 10px;
	}
	nav ul li i.nav-mobile-link{
		display: inline-block;
		margin: 24px 0px 0px;
		position: absolute;
		right: 10px;
	}
	nav ul li i.nav-mobile-close{
		display: none;
		margin: 24px 0px 0px;
		position: absolute;
		right: 10px;
	}

	header figure {
		margin: 0px;
		text-align: center;
		width: 100%;
	}

	header figure div {
		width: 184px;
		height: 184px;
	}

	header figure img {
		width: 180px;
		height: 180px;
	}

	header .header-info {
		display: none;
	}
	header .social-icons{
		padding-top: 20px
	}

	footer .footer-content .footer-box{
		border: none;
	}
} 