<div class="grid-container">
	<div class="grid-block align-center" ng-style="{'margin-top': '1em'}">
		<a ng-href="{{ link.url }}" target="_blank" ng-repeat="link in data.socials">
			<img ng-src="{{ link.icon }}" alt="{{ link.name }}">
		</a>
	</div>
	<hr/>
	<div class="grid-block small-up-1 medium-up-3">
		<div class="grid-content" ng-repeat="article in data.sections.articles.items">
			<h3 class="text-center">{{ article.title }}</h3>
			<a href="#" zf-open="modal-video" ng-style="{ display: 'block' }">
				<img class="thumbnail" ng-src="{{ article.img }}" alt="{{ article.img }}">
			</a>
		</div>
	</div>
	<hr/>
	<div class="grid-block small-up-1 medium-up-3">
		<div class="grid-content" ng-repeat="skill in data.sections.skills.items">
			<div class="dark card">
				<h3 class="text-center">{{ skill.name }}</h3>
			</div>
		</div>
	</div>
	<hr/>
</div>
<div id="modal-video" zf-modal="">
	<a zf-close="" class="close-button">×</a>
	<h3>I'm a modal!</h3>
	<button class="button" zf-close="">OK</button>
</div>
